/* estilo imagen principal marketing.html */

.medidas-img-marketing {
    width: 100px;
    height: 50px;
    justify-content: center;
    display: flex;
    margin: 3% 10% 2% 25%;
    text-align: center;
}